/* Body 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: White;
    font-size: 20px;

}

/* 로그인 박스 스타일 (뒤쪽 진한 주황색 상자) */
.login-box-background {
    background-color: #f8ac74; /* 진한 주황색 */
    padding: 20px;
    border-radius: 10px;
    width: 30px;
    max-width: 400px;
    position: absolute; /* 뒤에 겹치도록 절대 위치 */
    z-index: -1; /* 뒤에 배치 */
    height: 400px;
    left: 540px;
}

/* 로그인 박스 스타일 (앞쪽 연한 주황색 상자) */
.login-container {
    background-color: #ffc28c; /* 연한 주황색 */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    position: relative; /* 상대 위치 */
    height: 400px;
}

/* 제목 스타일 */
h2 {
	margin-top: 20px;
    color: white;
}

/* 폼 스타일 */
form {
    display: flex;
    flex-direction: column;
}

/* 입력 필드 스타일 */
.textbox input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left:20px;
}

.textbox > #id {
	margin-left:90px;
}

.textbox > #name {
	margin-left:70px;
}

.login{
	margin-bottom: 35px;
	color: white;
	text-decoration: none;
}

.btn-login {
    background-color: #FF8C00; /* 주황색 */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
    width: 100px;
    margin-left: 150px; 
}

.login-btn:hover {
    background-color: #FF7F50; /* 더 연한 주황색 */
}

